html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
}

nav.onScroll {
    background-color: white;
}

nav.onScroll a.navbar-brand {
    color:rgb(65, 74, 191);
}

section#main {
    height: 100vh;
    background: rgb(65, 74, 191);
}
section#main h1 {
    font-weight: 600 !important;
}

.btn-generate {
    font-size: 20px;
    height: auto;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
}

section#form {
    height: 100vh;
    background-color:#f7f7fc !important;
}

section#form #result-text {
    font-size: 20px;
    font-weight: 100;
}

section#form .form-label, section#form input {
    font-weight: 100;
}
